

   
<div class="bx-part1">
    <div class="bx-sextion1">   
        <h1 style="text-align: center;">
            CONTACT US
        </h1>
        <form name="RegForm" id="form_validate" 
              method="post">
          
                <input type="text" size="65" name="Name" placeholder="Name"/>
         
            <br />
         
                <input type="text" size="65" name="Email" placeholder="Email" />
            <br />
                <input type="text" size="65" name="Mobile" placeholder="Mobile Number"/>
            <br />
         
                <input type="textarea" size="65" name="message" placeholder="Message" style="height: 80px;"/>
        
            <br />
            
                <button type="submit">SUBMIT</button>
        </form>

    </div>
</div>
