<div class="bx-navbar">
  <div class="bx-fhalf">INDOCTRINATION</div>
  <div class="bx-shalf">
  <a href="" >HOME</a>
  <a href="About">ABOUT</a>
  <a href="Product">COURSES</a>
  <a href="Contact">CONTACT</a>
 
</div>
</div>
<router-outlet></router-outlet>



  <footer class="bx-footer">
    <p>Author: Aparna TB<br>
    copyright 	&#169; 2023 Aparna</p>
  </footer>

<!-- By HTML Tag Selector
<app-home></app-home>  -->

<!-- By HTML Attribute Selector  []
<div app-home> </div> -->

<!-- By CSS Selector .
<div class="app-home"></div> -->