.bx-part1{
    width: 100%;
    height: auto;
    display: flex;
    
    
}
.bx-sextion2{
    width: 60%;
    height: auto;
    background-color: rgb(199, 220, 239);
    margin-top: 7%;
   margin-left: 20%;
   margin-bottom: 5%;
}
ul{
    margin-top: 30px;
    line-height: 2;
}
.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 60%;
    height: auto;
    background-color: rgb(199, 220, 239);
    margin-top: 7%;
   margin-left: 20%;
   margin-bottom:10%;
  }